{% extends 'basic.html' %}
{% block title %}
  BlogPost
{% endblock %}
{% block css %}
{% endblock %}
{% block js %}
{% endblock %}
{% block body %}

<div class="container my-3">
<div class="blog-post">
        <h2 class="blog-post-title">{{post.title}}</h2>
        <p class="blog-post-meta">{{post.date}} by <a href="/about/">{{post.author}}</a></p>
        <img src="{{post.image.url}}" class="img-fluid" alt="...">

        <h4><pre>{{post.content}}</pre></h4>
        <hr>
      </div>
      </div>
{% endblock %}
